dataflows>=0.4.5
dataflows-airtable>=0.2.3
dataflows-elasticsearch>=0.1.1
dataflows-ckan>=0.3.7
tableschema-elasticsearch>=2.1.0
boto3
pyproj
geocoder
bleach
python-dotenv
regex
openlocationcode
thefuzz
python-Levenshtein
dgp-oauth2==1.2.0rc1
authlib